{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
  
</style>



  
        




 <h2 class="page-header text-light p-3">Add Event</h2>
 <div class="fromInput col-lg-12 col-md-6 col-sm-12 col-xs-12">
 {{form_start(form)}} 
 {{form_widget(form)}}
 {{form_end(form)}}
</div>

     

       
{% endblock %}